---
import HeroSection from "@/components/landing/HeroSection.astro";
import { SITE } from "@/config/site";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title={`${SITE.name} (ta93abe) | Software Engineer`}
  description={SITE.description}
>
  <main>
    <HeroSection />
  </main>
</Layout>

<style>
  main {
    overflow: hidden;
  }
</style>
