---
import HeroSection from "@/components/landing/HeroSection.astro";
import { SITE } from "@/config/site";
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title={`${SITE.name} (ta93abe) | Software Engineer`}
	description={SITE.description}
	flushTop
	lockViewport
>
	<main class="home-main">
		<HeroSection />
	</main>
</Layout>

<style>
	.home-main {
		height: 100%;
		overflow: hidden;
	}

	.home-main :global(.hero) {
		height: 100%;
		min-height: 100%;
	}
</style>
