---
import HeroSection from "../components/landing/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ta93abe | Software Engineer"
  description="ソフトウェアエンジニア ta93abe のポートフォリオサイト。プロジェクトや作品をご覧ください。"
>
  <main>
    <HeroSection />
  </main>
</Layout>

<style>
  main {
    overflow: hidden;
  }
</style>
