---
interface Props {
	href: string;
	title: string;
	description?: string;
}

const { href, title, description } = Astro.props;

// Extract domain for display
const domain = new URL(href).hostname.replace("www.", "");
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="my-6 flex items-center gap-4 rounded-lg border border-gray-200 p-4 transition-all hover:border-gray-300 hover:bg-gray-50 hover:shadow-sm no-underline"
>
  <div class="flex-1 min-w-0">
    <div class="font-semibold text-gray-900 truncate">{title}</div>
    {
      description && (
        <div class="mt-1 text-sm text-gray-600 line-clamp-2">{description}</div>
      )
    }
    <div class="mt-2 flex items-center gap-1 text-xs text-gray-500">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-4"
      >
        <path
          fill-rule="evenodd"
          d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z"
          clip-rule="evenodd"></path>
        <path
          fill-rule="evenodd"
          d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z"
          clip-rule="evenodd"></path>
      </svg>
      <span>{domain}</span>
    </div>
  </div>
  <div class="flex-shrink-0">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="size-5 text-gray-400"
    >
      <path
        fill-rule="evenodd"
        d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd"></path>
    </svg>
  </div>
</a>
